div(id="client" + index, tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true').modal.fade
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5.modal-title.text-danger= client._id 
                span.mx-2.text-success
                    i.fa.fa-2x.fa-fw.fa-users
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            .card
                                .card-header
                                    h4.card-title.text-warning.text-center.mb-2.py-1.px-2= client.personal.name
                                    .dropdown-divider
                                    h3.text-success.mb-2.py-2.px-1 Datos generales
                                    div.client-data.d-flex.flex-column
                                        span.alert.alert-warning
                                            strong.mr-4 DNI: 
                                            h6.card-subtitle.my-2.text-muted.d-inline= client.personal.DNI
                                        span.alert.alert-warning 
                                            strong.mr-4 LOCALIDAD:
                                            h6.card-subtitle.my-2.text-muted.d-inline= client.personal.locality
                                        span.alert.alert-warning 
                                            strong.mr-4 PROVINCIA:
                                            h6.card-subtitle.my-2.text-muted.d-inline= client.personal.province 
                                        span.alert.alert-warning 
                                            strong.mr-4 DIRECCIÓN:
                                            h6.card-subtitle.my-2.text-muted.d-inline C/De la rosa martinez 1ºDer
                                        span.alert.alert-warning 
                                            strong.mr-4 CÓDIGO POSTAL:
                                            h6.card-subtitle.my-2.text-muted.d-inline= client.personal.postal_code
                                        span.alert.alert-warning 
                                            strong.mr-4 FECHA NACIMIENTO:
                                            h6.card-subtitle.my-2.text-muted.d-inline= client.personal.birthday.toLocaleDateString('en-Es')
                                        span.alert.alert-warning 
                                            strong.mr-4 EDAD:
                                            h6.card-subtitle.my-2.text-muted.d-inline= client.personal.age
                                        span.alert.alert-warning 
                                            strong.mr-4 GÉNERO:
                                            h6.card-subtitle.my-2.text-muted.d-inline= client.personal.gender
                                .card-block.client-card
                                    .container
                                        .row
                                            .col-12.col-sm-8.offset-sm-2
                                                h2.text-center.text-success Datos de contacto
                                                table.table.table-responsive.table-hover.table-small
                                                    thead
                                                        tr
                                                            th 
                                                                i.fa.fa-fw.fa-envelope
                                                            th 
                                                                i.fa.fa-fw.fa-2x.fa-mobile
                                                            th 
                                                                i.fa.fa-fw.fa-2x.fa-mobile
                                                    tbody
                                                        tr
                                                            td
                                                                a(href="mailto:" + client.contact.email)= client.contact.email
                                                            td 
                                                                a(href="tel:+34" + client.contact.phoneOne)= client.contact.phoneOne
                                                            td 
                                                                a(href="tel:+34" + client.contact.phoneTwo)= client.contact.phoneTwo
                                    h3.text-center.py-2.px-1 Datos de interés
                                    .dropdown-divider
                                    p.card-text= client.comment
                                    .client-attitude.py-2.px-1
                                        span.mr-4.font-weight-bold Carácter: 
                                            mark.font-weight-normal.font-italic= client.attitude.nature
                                        span.mr-4.font-weight-bold Temperamento:
                                            mark.font-weight-normal.font-italic= client.attitude.temperament

                                    .dropdown-divider

                                    .d-flex.justify-content-around.align-items-center
                                        h2.text-center.py-2.px-1 Mascotas

                                    div.list.group.list-group-flush


                                .card-footer.d-flex.justify-content-center.align-items-center
                                    form(action="/admin/clients/remove/" + index, method="POST")
                                        button(type="submit").btn.alone-buttons
                                            i.fa.fa-2x.fa-fw.fa-trash.text-danger
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar

