extends admin_layout.pug
block content
    .container
        .admin-icons.text-center.py-2
            a(href="/admin/clients").mr-2.active.text-warning Volver a panel de clientes
                i.fa.fa-2x.fa-fw.fa-cogs
    div.dropdown-divider
    div.my-4.text-center.clientId
        h3.d-inline Mascota del cliente: 
        span.ml-2.font-italic.text-warning= clientId
    .container
        .row
            .col-10.offset-1.col-lg-6.offset-lg-3
                ul.nav.nav-tabs(role='tablist')
                    li.nav-item
                        a.nav-link.active(data-toggle='tab', href='#petInfo', role='tab')
                            i.fa.fa-2x.fa-fw.fa-info-circle
                    li.nav-item
                        a.nav-link(data-toggle='tab', href='#petClinical', role='tab') 
                            i.fa.fa-2x.fa-fw.fa-user-md
                    li.nav-item
                        a.nav-link(data-toggle='tab', href='#gallery', role='tab') 
                            i.fa.fa-2x.fa-fw.fa-picture-o
                    li.nav-item 
                        a.nav-link(data-toggle='tab', href='#petEdit', role='tab') 
                            i.fa.fa-2x.fa-fw.fa-pencil
                .tab-content     
                    #petInfo.tab-pane.active(role='tabpanel') 
                        .card
                            .card-header
                                h4.card-title.text-warning.text-center.mb-2.py-1.px-2 Información general
                                .dropdown-divider
                                div.d-flex.flex-column
                                    span.alert.alert-warning
                                        strong.mr-4 NOMBRE: 
                                        h6.card-subtitle.my-2.text-muted.d-inline= petData.personal.name
                                    span.alert.alert-warning 
                                        strong.mr-4 EDAD:
                                        h6.card-subtitle.my-2.text-muted.d-inline= petData.personal.age
                                    span.alert.alert-warning 
                                        strong.mr-4 SEXO:
                                        h6.card-subtitle.my-2.text-muted.d-inline= petData.personal.gender
                                    span.alert.alert-warning 
                                        strong.mr-4 RAZA:
                                        h6.card-subtitle.my-2.text-muted.d-inline= petData.personal.breed
                                    span.alert.alert-warning 
                                        strong.mr-4 ESPECIE:
                                        h6.card-subtitle.my-2.text-muted.d-inline= petData.personal.kind
                                    span.alert.alert-warning 
                                        strong.mr-4 CAPA:
                                        h6.card-subtitle.my-2.text-muted.d-inline= petData.personal.coat
                            .card-block
                                .py-2.px-1
                                    span.mr-4.font-weight-bold Carácter: 
                                        mark.font-weight-normal.font-italic= petData.personal.nature
                                .dropdown-divider
                            .card-footer.text-center
                                form.delete(action="/admin/pet/delete", method="POST")
                                    input(type="hidden" value=petData._id name="petID")
                                    button(type="submit").btn.alone-buttons
                                        i.fa.fa-2x.fa-fw.fa-trash.text-danger

                    #petClinical.tab-pane(role='tabpanel') 
                        .card
                            .card-header
                                h4.card-title.text-warning.text-center.mb-2.py-1.px-2 Datos clínicos
                                .dropdown-divider
                                div.d-flex.flex-column
                                    span.alert.alert-warning 
                                        strong.mr-4 ID MICROCHIP:
                                        h6.card-subtitle.my-2.text-muted.d-inline= petData.clinicalData.microchip
                                    span.alert.alert-danger
                                        strong.mr-3 ¿MUERDE?
                                        h6.card-subtitle.my-2.text-muted.d-inline= petData.clinicalData.bite ? "SI": "NO"
                                    .py-2.px-1
                                        span.mr-2.font-weight-bold Castrado:
                                        mark.font-weight-normal.font-italic= petData.personal.castrated ? "SI" : "NO"
                                    h5.card-subtitle.my-2.text-muted.d-inline VACUNAS
                                    div.list-group
                                        each vaccine in petData.clinicalData.vaccines
                                            li.list-group-item= vaccine
                                    h5.card-subtitle.my-2.text-muted.d-inline ENFERMEDADES
                                    div.list-group
                                        each disease in petData.clinicalData.diseases
                                            li.list-group-item= disease
                                    .dropdown-divider
                            .card-block.petComment
                                h4.card-title.text-warning.text-center.mb-1.py-1.px-2 Datos relevantes
                                .jumbotron
                                    p.card-text.text-justify= petData.comment
                            .card-footer

                    #gallery.tab-pane(role='tabpanel') Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus accusantium porro, commodi fugiat fugit dolorum tenetur cum inventore id facilis velit nisi! Adipisci quod hic aperiam! Modi recusandae at vel!
                    #petEdit.tab-pane(role='tabpanel')
                        .container-fluid
                            .row
                                .col-12
                                    form.newPet(action="/admin/pet/edit" method="POST")
                                        .card
                                            .card-header
                                                h2.text-center.text-success Datos generales
                                                input(type="hidden" name="petID" value=petData._id)
                                                .form-group
                                                    input.form-control(type="text" name="petName" placeholder="Nombre de la mascota" value=petData.personal.name)
                                                .form-group
                                                    input.form-control(type="text" name="petBreed" placeholder="Raza" value=petData.personal.breed)
                                                .form-group
                                                    input.form-control(type="text" name="petKind" placeholder="Especie" value=petData.personal.kind)
                                                .form-group
                                                    input.form-control(type="text" name="petCoat" placeholder="Capa" value=petData.personal.coat)
                                                .form-group.text-center
                                                    legend Carácter
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input.mr-3(type="radio" name="petNature" value="Bueno" checked)
                                                                | Bueno
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input.mr-3(type="radio" name="petNature" value="Nervioso")
                                                                | Nervioso
                                                        .form-check  
                                                            label.form-check-label
                                                                input.form-check-input.mr-3(type="radio" name="petNature" value="Agresivo")
                                                                | Agresivo

                                            .card-block.client-card

                                                h3.text-center.py-2.px-1 Datos clínicos
                                                .dropdown-divider
                                                .form-group
                                                    input(type="text" name="petMicrochip" placeholder="Número de identificación del Chip" value=petData.clinicalData.microchip).form-control
                                                .form-check
                                                    label.form-check-label
                                                        input.form-check-input.mr-3(type="checkbox" value="" name="castrated")
                                                        | ¿Castrado?
                                                        fieldset
                                                            legend.text-warning.font-weight-bold Sexo
                                                .form-check.form-check-inline
                                                    label.form-check-label
                                                        input.form-check-input.ml-1.mr-2(type="radio" name="petGender" value="Macho" checked)
                                                        | Macho

                                                    label.form-check-label
                                                        input.form-check-input.ml-1.mr-2(type="radio" name="petGender" value="Hembra")
                                                        | Hembra
                                                .form-group
                                                    label(for="petAge") Edad
                                                        input(type="number" id="petAge" name="petAge" min="0", max="20" value=petData.personal.age).form-control
                                                .form-check
                                                    .alert.alert-danger
                                                        label.form-check-label.display-4
                                                            input.bite.form-check-input.mr-3(type="checkbox" value="yes" name="bite")
                                                            | ¿ Muerde ?
                                                .dropdown-divider
                                                .form-group
                                                    .d-flex.justify-content-around.vaccine
                                                        input.vaccines(type="hidden" name="vaccines" value=0)
                                                        h4 Vacunas
                                                        button(type="button" title="Nueva vacuna").btn.alone-buttons
                                                            i.fa.fa.fa-fw.fa-plus-square.text-success
                                                    div.vaccineGroup.list-group
                                                        each vaccine in petData.clinicalData.vaccines
                                                            li.list-group-item
                                                                input(type="text" placeholder="Vacuna" value=vaccine name="vaccine").form-control

                                                .dropdown-divider
                                                .form-group 
                                                    .d-flex.justify-content-around.diseases
                                                        input.diseases(type="hidden" name="diseases" value=0)
                                                        h4 Enfermedades
                                                        button(type="button" title="Nueva enfermedad").btn.alone-buttons
                                                            i.fa.fa-fw.fa-plus-square.text-success
                                                    .diseasesGroup.list-group
                                                        each disease in petData.clinicalData.diseases
                                                            li.list-group-item
                                                                input(type="text" placeholder="Enfermedad" value=disease name="disease").form-control
                                                .dropdown-divider
                                                .form-group
                                                    h3.text-center.py-2.px-1 Datos relevantes
                                                    textarea#comment.form-control(name="comment", rows="4")= petData.comment                                
                                            .card-footer.d-flex.justify-content-center.align-items-center

                                                button(type="submit").btn.alone-buttons
                                                    i.fa.fa-2x.fa-fw.fa-check-square-o.text-success

block scripts 
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(src='../../../js/pet_control.js')
    script.
        $(function() {
            let objectIdRegExp = /^[a-f\d]{24}$/i,
            path = window.location.pathname,
            indexID = path.indexOf("l/"),
            objectID = path.substring(indexID + 2);

            $('form.delete').on('submit', function(event) {
                if (objectIdRegExp.test(objectID)) {
                    return confirm("¿Estas segura de querer borrar la mascota?")
                }
                event.preventDefault();
            })

        })

