extends admin_layout.pug
block content
    .container
        .admin-icons.text-center.py-2
            a(href="/admin").mr-2.active.text-warning Volver al panel de administración
                i.fa.fa-2x.fa-fw.fa-cogs
            a(href="/admin/messages").ml-1
                i.fa.fa-2x.fa-fw.fa-envelope
                span.badge.badge-danger.py-1= newMessages
    div.dropdown-divider
    .container
        .row
            .col-12.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
                h3.my-2.mr-2.d-inline Nuevo cliente
                span
                    button(type="button", title="Añadir nuevo cliente" data-toggle='modal', data-target='#newClient').text-success.alone-buttons
                        i.fa.fa-2x.fa-fw.fa-user
                .d-flex.justify-content-end
                    form(action="/admin/clients/search" method="POST").mt-2
                        .input-group.search-bar
                            input#clientSearch(type="search" placeholder="Buscar clientes" aria-describedby="search_icon")
                            span#search_icon.input-group-btn
                            button(type="submit").btn.btn-warning
                                i.fa.fa-fw.fa-search
                table.table.table-responsive.table-bordered.table-striped
                    thead 
                        tr
                            th(scope="row").bg-inverse.text-white.font-weight-bold *
                            th Nombre Completo
                            th Teléfonos contacto
                            th Email de contacto
                            th Mascotas

                    each client, index in clients
                        tr
                            td
                                button.btn(type='button', data-toggle='modal', data-target='#client' + index).alone-buttons
                                    i.fa.fa-eye.fa-fw.text-success
                                button.btn(type='button' , data-toggle='modal', data-target='#clientEdit' + index).alone-buttons
                                    i.fa.fa-pencil.fa-fw.text-warning
                                button(type="button" title="Añadir nueva mascota" data-toggle='modal', data-target="#newPet" + client._id).alone-buttons
                                    i.fa.fa-fw.fa-paw.text-danger
                            td= client.personal.name
                            td.phones= client.contact.phoneOne + "/" + client.contact.phoneTwo        
                            td= client.contact.email
                            td.petInfo
                                button(type="button" title="Ver datos de mascota").alone-buttons.petDisplay.text-warning
                                    i.fa.fa-2x.fa-fw.fa-arrow-down
                                each pet in client.pets
                                    span.d-none= pet


    each client, index in clients        
        include ../partials/modal_client.pug
        include ../partials/modal_edit_client.pug 
        include ../partials/modal_new_pet.pug
    include ../partials/modal_new_client.pug
block scripts
    script#firstScript(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(src='../../js/pet_control.js')
    script(src='../../js/search_bar.js')
    script(src='../../js/pet_display.js')



